*{
    background-color: #165EF0;
}

.my-pic img{
    border-radius: 100%;
    
    margin-top: 5%;
}


.work{
    margin: auto;
    width: 30%;
    background-color: #165EF0;
    color: white;
    padding: 10px;
}
.work p{
    /* padding: 15px; */
}
.work button{
    background-color: white;
   border-radius: 20px;
   border-color: white;
   color: #165EF0;
    padding: 10px;
    margin-bottom: 10%;
}
.work button a{
    background-color: white;
    font-size: 20px;
    color: #165EF0;
    text-decoration: none;
    padding: 10px;
}